
#body{
    Margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(img/Westerdal1.5-1500x750.jpg);
     font-family: "Inconsolata", sans-serif;
}

#wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
}

#bilde{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



#topBox {
    position: relative;
    margin-top: 6%;
    width: 100%;
    height: 10%;
    background-color: #D8D8D8; 
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

#ftext1
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}
#ftext2
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}
#ftext3
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}
#ftext4
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}
#ftext5
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}
#ftext6
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}
#ftext7
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.6em;
}
#ftext8
{
    position: relative;
    margin: auto;
    top: -5px;
    right: 15px;
    text-align: center;
    color: black;
    font-size: 0.7em;
}





#logobox{
    position: relative;
    margin: 0;
    padding: 0;
    top: -13.5%;
    left: 4%;
    height: 16%;
    width: 16%;
    border-radius: 0%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#westerdalslogo{
    position: relative;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    
}



#contentBox{
    position: relative;;
    top: 70px;
    right: -7%;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
    border: 1px;
    padding: 10px;
    display: table;
    background-color:#FAFAFA;
    width: 85%;
    opacity: 0.9;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bottomBoxContainer{
    position: relative;
    margin: auto;
    border: 2px;
    padding: 15px;
    display:table;
    width: 75%;
}

#bottomBox1, #bottomBox2, #bottomBox3  {
    position: relative;
    margin-top: 30px;
    text-align: center;
    display: table;
    background-color:darkgrey;
    width: 30%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

#bottomBox2, #bottomBox3{
    margin-left: 3%;
}

.bottomBoxImage{
    height: 150px;
    background-image: url(img/Westerdal1-1500x750.jpg);
    background-size: cover;
}

.innlegg{
    position: static;
    margin-top: 50px;
    border: 1px;
    padding: 10px;
    display: table;
    width: 98%;
    background-color: #a6a6a6;
}

.innleggBilde{
    position: relative;
    height: 200px;
    left: 10%;
    top: 100px;
}

.innleggTekst{
    position: relative;
    margin: auto;
    top: 0%;
    float: left;
    width: 50%;
    display: inline-block;
}



#topbox ul{
    margin: 2%;
    margin-bottom: 10%;
    padding: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text{
    list-style: none;
    position: relative;
    bottom: 15px;
    margin: -40%;
    line-height: 10px;
    font-size: 20px;
    
}

#nav1 ul li, #nav2 ul li, #nav3 ul li, #nav4 ul li, #nav5 ul li, #nav6 ul li{
    list-style: none;
    float: left;
    margin: 2.5%;
    margin-top: 1%;
    left: 35%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align:center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    z-index: 1;
    transition: .4s ease-in-out;
    
}

#nav7 ul li{
    
    list-style: none;
    float: right;
    margin: 0;
    left: -3%;
    margin-top: -4.5%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align:center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    z-index: 1;
    transition: .4s ease-in-out;
}

#nav8 ul li{
    
    list-style: none;
    float: right;
    margin: 0;
    left: -9%;
    margin-top: -4.5%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align:center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    z-index: 1;
    transition: .4s ease-in-out;
}

#nav1 ul li{ 
     background: #FFD080;
    color:white;
    
}
#nav2 ul li{
     background: #795580;
    color: white;
}

#nav3 ul li{

     background:#7EC59D;
    color: white;
}

#nav4 ul li{
     background: #61AFCA;
    color: white;
}

#nav5 ul li{
     background: #BC2B40;
    color: white;
}

#nav6 ul li{
     background: #F4FA58;
    color: white;
}

#nav7 ul li{
     background-color:grey;
    color: white;
}

#nav8 ul li{
     background: grey;
    color: white;
}



#nav1 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav2 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav3 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav4 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav5 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}

#nav6 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}

#nav7 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}


#nav8 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}



#nav1 ul li:hover :before{
    transform: scale(.5);
}

#nav2 ul li:hover :before{
    transform: scale(.5);
}

#nav3 ul li:hover :before{
    transform: scale(.5);
}

#nav4 ul li:hover :before{
    transform: scale(.5);
}

#nav5 ul li:hover :before{
    transform: scale(.5);
}

#nav6 ul li:hover :before{
    transform: scale(.5);
}

#nav7 ul li:hover :before{
    transform: scale(.5);
}

#nav8 ul li:hover :before{
    transform: scale(.5);
}


#nav1 ul li:hover{
    background: #D8D8D8;
    color: #FFD080;
}

#nav2 ul li:hover{
    background: #D8D8D8;
    color:#795580;
}

#nav3 ul li:hover{
    background: #D8D8D8;
    color:#7EC59D;
}

#nav4 ul li:hover{
    background: #D8D8D8;
    color:#61AFCA;
}

#nav5 ul li:hover{
    background: #D8D8D8;
    color:#BC2B40;
}

#nav6 ul li:hover{
    background: #D8D8D8;
    color:#F4FA58;
}

#nav7 ul li:hover{
    background: #D8D8D8;
    color:#BC2B40;
}

#nav8 ul li:hover{
    background: #D8D8D8;
    color:#BC2B40;
}


#footer{
    position: fixed;
    width: 100%;
    height: 9%;
    bottom: 0;
    background-color: #FAFAFA;
    opacity: 0.9;
    text-align: center;
}


