#topBox {
    position: relative;
    width: 100%;
    height: 22.5%;
    background-color: #a6a6a6;
}

#westerdalslogo{
    position: relative;
    height: 70%;
    width: 10%;
    left: 1%;
    top: 0%;
}

.icon{
    position: relative;
    left: 2%;
    top: 10%;
    height: 75%;
    width: 16%;
    margin-left: -1%;
}

#tips{
    position: relative;
    left: 2%;
    top: 10%;
    height: 80%;
    width: 12%;
    margin-left: -4%;
}

#minSide{
    position: relative;
    left: 2%;
    top: -45px;
    height: 40%;
    width: 6%;
    margin-left: -4%;
}

#body{
    background-image: url(img/westerdals_bygning_01-1.jpg);
    background-size: cover;
}

#html, body{
    height: 100%;
    width: 100%;
    Margin: 0;
}

#contentBox{
    position: static;
    margin: auto;
    border: 1px;
    padding: 10px;
    display: table;
    background-color:#FAFAFA;
    width: 60%;
    opacity: 0.9;
}

.innlegg{
    position: static;
    margin-top: 50px;
    border: 1px;
    padding: 10px;
    display: table;
    width: 98%;
    background-color: #a6a6a6;
}

.innleggBilde{
    position: relative;
    height: 200px;
    left: 20.4%;
    top: -20px;
}

.innleggTekst{
    position: relative;
    margin: auto;
    top: 0%;
    left: 20%;
    width: 50%;
    display: inline-block;
}

.vote{
    position: relative;
    margin: 10px;
    height: 50px;    
}

#downvote{
    top: 60px;
    left: -62px;
}

.voteNumber{
    position: relative;
    top: -120px;
    left: 50px;
}

