#body{
    font-family: "Inconsolata", sans-serif;
    margin: 0 auto;
    background-color: #FAFAFA;
    height: 1300px;
    
    
}

#container{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 55%;
    box-shadow: 4px 3px 4px #A4A4A4;
    }

#bilde1{
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
     z-index: -1;
}





#search{
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-right: 35px;
    float: right;
    width: 200px;
    padding: 7px;
    border: 1px solid #333;
    opacity: 0.8;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit{
    position: relative;
    margin: auto;
    margin-top: 70px;
    float:right;
    padding: 7px;
    background: rgb(46, 65,81);
    border: 1px solid #333;
    color: white;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

#submit:hover{
    background: white;
    transition: all 0.20s;
}
/*rgb(97, 175, 202)*/
#navWrap{
    position:relative;
    margin: auto;
    margin-top: 170px;
    width: 45%;
    height: 15%;
    background-color: whitesmoke;
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  margin-bottom: 40px;
    padding: 0.5em
        
}

#nav ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text{
    list-style: none;
    margin: 10px;
    line-height: 10px;
    font-size: 15px;
    
}

#nav1 ul li, #nav2 ul li, #nav3 ul li, #nav4 ul li, #nav5 ul li {
    list-style: none;
    float: left;
    margin: 10px;
    margin-top: -17px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    z-index: 1;
    transition: .5s ease-in-out
    
}

#nav1 ul li{ 
     background: #FFD080;
    color:whitesmoke;
    
}
#nav2 ul li{
     background: #795580;
    color: whitesmoke;
}

#nav3 ul li{

     background:#7EC59D;
    color: whitesmoke;
}

#nav4 ul li{
     background: #61AFCA;
    color: whitesmoke;
}

#nav5 ul li{
     background: #BC2B40;
    color: whitesmoke;
}



#nav1 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: whitesmoke;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav2 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: whitesmoke;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav3 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: whitesmoke;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav4 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: whitesmoke;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    position: absolute;
}

#nav5 ul li:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: whitesmoke;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
    z-index: -1;
}




#nav1 ul li:hover :before{
    transform: scale(.5);
}

#nav2 ul li:hover :before{
    transform: scale(.5);
}

#nav3 ul li:hover :before{
    transform: scale(.5);
}

#nav4 ul li:hover :before{
    transform: scale(.5);
}

#nav5 ul li:hover :before{
    transform: scale(.5);
}


#nav1 ul li:hover{
    background: whitesmoke;
    color: #FFD080;
}

#nav2 ul li:hover{
    background: whitesmoke;
    color:#795580;
}

#nav3 ul li:hover{
    background: whitesmoke;
    color:#7EC59D;
}

#nav4 ul li:hover{
    background: whitesmoke;
    color:#61AFCA;
}

#nav5 ul li:hover{
    background: whitesmoke;
    color:#BC2B40;
}























/*Content*/

#content{
    position: relative;
    height:auto;
    width: 1000px;
    background-color: #FAFAFA;
    margin: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
